.TodoList {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.list {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  min-width: 30%;
}

.todo-item {
  padding: 0.5rem 0;
  text-align: left;
  width: 100%;
}

.todo-item-cleared {
  color: gray;
}

#new-item-field, #new-item-field:focus {
  width: 100%;
  margin: 10px 0;
  padding-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #666;
  outline: none;
}